body {
    margin:0;
    padding: 0;
	font-family: 'Noto Sans Display', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	min-height: 100dvh;
	background-color: rgb(44, 44, 44);
	color: aliceblue;
    overflow: hidden;
}
.back {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100dvh;
	min-width: 100dvw;
	background-size: cover; /* Масштабируем изображение, чтобы оно полностью покрывало блок */
	background-position: center;
    justify-content: space-around;
}

button {
	all: unset;
	display: flex;
}
.clips{
    margin-top: 20px;
}
a{
    text-decoration: none;
    color:aliceblue
}
a:hover{
    text-decoration: underline;
}
p {
	margin: 0;
}
#player {
	padding: 40px 50px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.438);
	backdrop-filter: blur(10px);
	width: 300px;
	display: grid;
}
.btn {
	transition: color 0.3s ease-in-out;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.btn:hover {
	color: rgb(167, 89, 240);
	transition: color 0.3s ease-in-out;
}
.btn-primary {
	border-radius: 100%;
	padding: 10px;
	color: rgb(167, 89, 240);
	background-color:  aliceblue;
	transition: background-color 0.3s ease-in-out;
}
.btn-primary:hover {
	color: rgb(252, 252, 252);
	background-color: rgb(124, 50, 192);
}
.track-info {
	width: 300px;
	white-space: nowrap; /* Запрещаем перенос строк */
	overflow: hidden;
	margin-top: 10px;
}
#author {
	font-weight: 500;
	display: inline-block;
	/* padding-left: 100%; Стартовая позиция текста за пределами контейнера */

	width: fit-content;
	animation-delay: 2s;
	white-space: nowrap;
	overflow: hidden; /* Обрезаем текст, который выходит за пределы контейнера */
	text-overflow: ellipsis;
}
.animated-textscroll {
	animation: scrollText 20s linear infinite;
}
@keyframes scrollText {
	0% {
		transform: translateX(100%); /* Начинаем с правого края контейнера */
	}
	100% {
		transform: translateX(-100%); /* Заканчиваем на левом краю контейнера */
	}
}

#title {
	font-weight: 300;
}

#cover {
	border-radius: 100%;
	border: 0px;
}
.rotated {
	animation: rotateBlock 5s linear infinite;
}

@keyframes rotateBlock {
	0% {
		transform: rotate(0deg); /* Начальная позиция */
	}
	100% {
		transform: rotate(360deg); /* Полный круг */
	}
}

.track-control {
	margin: 20px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.time-info {
	font-weight: 200;
	height: fit-content;
	display: flex;
	margin-top: 5px;
	justify-content: space-between;
}
.volume-control {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#duration-bar {
	margin-top: 20px;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	background-color: rgb(66, 66, 66);
	cursor: pointer;
}
#timer-bar {
	height: 100%;
	width: 1%;
	border-radius: 5px;
	background-color: white;
	transition: width 0.5s ease;
}
#volume-bar-container {
	width: 80%;
	height: 5px;
	border-radius: 2px;
	background-color: rgb(66, 66, 66);
	cursor: pointer;
}
#volume-bar {
	width: 75%;
	height: 100%;
	border-radius: 2px;
	background-color: aliceblue;
	transition: width 0.05s cubic-bezier(0.5, 1, 0.89, 1);
}
.thumb {
	border-radius: 100%;
	width: 20px;
	height: 20px;
	background-color: aliceblue;
	position: relative;
	left: 100%;
	transform: translate(-50%, -35%);
	cursor: pointer;
}
#cover {
	height: 300px;
	width: 300px;
	background-color: chartreuse;
}

footer{
    display: flex;
    justify-self: end;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.logo-rss{
    cursor: pointer;
    width: 50px; /* Задайте ширину */
    height: 50px; /* Задайте высоту */
    background-image: url('./assets/rss-logo.svg');
    background-size: cover; /* Масштабирование изображения */
    background-position: center; /* Центрирование изображения */
    display: inline-block; /* Чтобы элемент вел себя как встроенный блок */
    text-decoration: none;
    
}